<header>
    <nav class="navbar navbar-expand-lg bg-black ">
        <div class="container">
          <img src="../../assets/img/shop-logo.png" alt="logo" width="64" height="64">
          <a class="navbar-brand text-white ms-2 fw-bold fs-4" href="#">WEBSHOP</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ms-4" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link text-white" [routerLink]="['/home']">Inicio</a>
              <a class="nav-link text-white" [routerLink]="['/product']">Productos</a>
              <a class="nav-link text-white" [routerLink]="['/purchase-history']">Historial de compras</a>
              <button [routerLink]="['/cart']" type="button" class="btn btn-warning position-relative">
                <i class="bi bi-cart4"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  {{ cartItemCount }}
                  <span class="visually-hidden">unread messages</span>
                </span>
              </button>
            </div>
          </div>
        </div>
      </nav>
</header>
