main {
    height: 100vh;
}

.card img {
    width: 15rem;
    height: 15rem;
    max-width: 15rem;
    max-height: 15rem;
}

#alertAddProduct {
    position: absolute;
    top: 0;
    right: 0;
}


.fade-in-out {
    animation: fadeInOut 3s ease;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}