<main>
    <section>

        <div class="container">
            <div class="w-50 py-5">
                <h2 class="display-4 fw-bold text-light">Todo en productos Tecnológicos</h2>
                <p id="description" class="text-light">Explora nuestra amplia selección de productos tecnológicos con
                    descuentos exclusivos. Desde laptops y
                    smartphones hasta gadgets innovadores, ¡tenemos todo lo que necesitas para mantenerte conectado y
                    actualizado!</p>
            </div>
            <div>
                <button>
                    Ver productos
                </button>
            </div>
        </div>


        


    </section>



</main>